/*Badge*/
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
  }

  .badge:empty {
    display: none;
  }

  .btn .badge {
    position: relative;
    top: -1px;
  }

  .badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
  }

  /* 報名開放中 */
  .open {
    color: #E7DFDD;
    background-color: green;
  }

  /* 活動已結束 */
  .close {
    color: #E7DFDD;
    background-color: grey;
  }

  /* 活動地點 */
  .place {
    color: #E7DFDD;
    background-color: rgb(14, 111, 202);
  }

  /* 活動進行中 */
  .run {
    color: #E7DFDD;
    background-color: red;
  }

  /* 年齡層 */
  .age {
    color: #E7DFDD;
    background-color: rgb(230, 140, 5);
  }

  /* 難度 */
  .difficulty {
    color: #E7DFDD;
    background-color: black;
  }

  /* 付費 */
  .cost {
    color: #E7DFDD;
    background-color: purple;
  }

  .badge-dark {
    color: #E7DFDD;
    background-color: rgba(var(--smart-secondary_800), 1);
  }


    input[type="submit"].baoming,
		input[type="reset"].baoming,
		input[type="button"].baoming,
		button.baoming,
		.button.baoming {
			background-color: #E7DFDD;
			box-shadow: none;
			color: #87c5a4;
		}

			input[type="submit"].baoming:hover, input[type="submit"].baoming:active,
			input[type="reset"].baoming:hover,
			input[type="reset"].baoming:active,
			input[type="button"].baoming:hover,
			input[type="button"].baoming:active,
			button.baoming:hover,
			button.baoming:active,
			.button.baoming:hover,
			.button.baoming:active {
				background-color: #9bf1ff;
				color: #0E0B16 !important;
			}

			input[type="submit"].baoming:active,
			input[type="reset"].baoming:active,
			input[type="button"].baoming:active,
			button.baoming:active,
			.button.baoming:active {
				background-color: #53e3fb;
			}