@keyframes change-opacity{
    from {opacity: 1;}
    to {opacity: 0;}
}

body{
    margin: 0;
}

h1{
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#begintext{
    position: absolute;
    top: 45%;
    left: 16%;
    transform: translate(-50%, -50%);

    animation-name: change-opacity;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#videoback{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

#playerAlice{
    height: 120px;
    position: absolute;
    top: 58%;
    left: 17%;
    transform: translate(-50%, -50%);    
    /* z-index: 1; */
}

#playerBob{
    height: 120px;
    position: absolute;
    top: 73%;
    left: 17%;
    transform: translate(-50%, -50%);    
}

#playerHack{
    height: 120px;
    position: absolute;
    top: 88%;
    left: 17%;
    transform: translate(-50%, -50%);    
}
