@keyframes change-opacity{
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes change-opacity01{
    from {opacity: 0.5;}
    to {opacity: 1;}
}

body{
    margin: 0;
}

h1{
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#begintext{
    position: absolute;
    top: 45%;
    left: 16%;
    transform: translate(-50%, -50%);

    animation-name: change-opacity;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#videoback{
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    
}

#playerAlice{
    height: 100px;
    position: absolute;
    top: 58%;
    left: 18%;
    transform: translate(-50%, -50%);    
    /* z-index: 1; */
}

#playerBob{
    height: 100px;
    position: absolute;
    top: 73%;
    left: 18%;
    transform: translate(-50%, -50%);    
}

#playerHack{
    height: 100px;
    position: absolute;
    top: 88%;
    left: 18%;
    transform: translate(-50%, -50%);    
}

.zhuanchang{
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;  
    animation-name: change-opacity01;
    animation-duration: 3s;
    animation-iteration-count: 1;
}