.container44 {
    width: 33em;
    margin: 0px;

}

.container33 {
    width: 24.8em;
    margin: 0px;
    border: 2px solid #ccc;
    position: absolute; top: 34px;
    
}


#Box2,#Box3,#Box4,#Box5,#Box6,#Box7,#Box8,#Box9,#Box0,#Box11,#Box12,#Box13,#Box14,#Box15,#Box16,#Box17,#Box18,#Box19,#Box20,#Box21,#Box22,#Box23,#Box24,#Box25,#Box26{
    width:120px;
    height:120px;
    padding:10px;
    border:1px #ccc dashed;
    float:left;
    margin:5px;
}

/* #circle{
    width: 80px;
    height: 80px;
    color: #0E0B16;
    opacity: 1;
    border: 1px #ccc dashed;
} */

.fangge{
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #0E0B16;
    margin: 0px;
    width: 250px;
    height: 36px;
    background-color: #0E0B16;
    position: absolute; top: 0px;
    text-align:center;
    line-height: 12px;
}

.leftall{
    width: 600px;
    height: 600px;
    margin: 10px;
    position: relative;

}
.rightall{
    width: 400px;
    height: 550px;
    margin-top: 15px;
    margin-right: 10px;
    position: relative;
    position: absolute;right: 0px; top: 0px;
    float: right"

}

.all{
    background-color: #0E0B16;
    width: 1050px;
    height: 650px;
    border:5px #ccc solid;
    position: relative;
    position: absolute; top: 50%;; left: 50%;
    margin-top: -150px;
    margin-left: -525px;

}



